:root{
    --main: #FFFFFF;
    --title: #292F36;
    --text: #4D5053;
    --rare: #CDA274;
    --background: #F4F0EC;
    --border-item: #E7E7E7;
    --border: #E5E5E5;
}

body{
    font-family: Jost;
}
.container{
    width: 1230px;
    outline: 1px solid red;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    margin-bottom: 18px;
}
.header-box{
    display: flex;
}
.nav-list{
    display: flex;
width: 538.016px;
height: 62px;
padding: 12px 0px 19px 20.016px;
justify-content: flex-end;
align-items: flex-start;
gap: 40px;
flex-shrink: 0;
margin-left: 484.98px;
}
.nav-item{
    color: var(--title);
font-size: 20px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.4px;
}
.nav-item:nth-child(1){
    color: var(--rare);
}
.main-hero{
    background-image: url(../img/backgroundhero.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-box{
    height: 831px;
    justify-content: center;
    padding-top: 188px;
}
.hero-title{
    width: 595px;
    color:var(--title);
font-family: "DM Serif Display";
font-size: 80px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0.22px;
}
.hero-text{
    margin-top: 19px;
    color:var(--text);
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}
.hero-button{
    margin-bottom: 260px;
    margin-top: 57px;
    color:var(--main);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.72px;
padding: 22px 67px 22px 34px;
}
.information-list{
    display: flex;
width: 1200px;
height: 395px;
justify-content: center;
align-items: flex-start;
flex-shrink: 0;
}
.information-item{
    width: 400px;
    height: 395px;
    flex-shrink: 0;
}
.information-title{
    color:var(--title);
text-align: center;
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.56;
letter-spacing: 0.22px;
}
.information-text{
 color:var(--text);
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}
.information-button{
    background-color: var(--main);
    color:var(--text);
text-align: center;
font-family: Jost;
font-size: 18px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.36px;
border: none;
}
.title-one{
    margin: 75px 113px 17px 113px;
}
.text-one{
    margin: 0px 41px 48px 42px;
}
.button-one{
    padding: 20px 128px 0px 98px;
    margin: 0px 40px 70px 40px;
}
.title-two{
    margin: 75px 144px 17px 144px;
}
.text-two{
    margin: 0px 51px 15px 52px;
}
.button-two{
    padding: 20px 128px 0px 98px;
    margin: 0px 40px 103px 40px;
}
.title-three{
    margin: 75px 151px 17px 151px;
}
.text-three{
    margin: 0px 52px 15px 52px;
}
.button-three{
    padding: 20px 128px 0px 98px;
    margin: 0px 40px 70px 40px;
}
.main-information{
    margin-top: 100px; 
    margin-bottom: 100px;
}
.recommendation-box{
    display: flex;
    gap: 16px;
}
.recommendation-div{
    width: 592px;
height: 581px;
flex-shrink: 0;
}
.recommendation-title{
    color:var(--title);
font-family: "DM Serif Display";
font-size: 50px;
font-weight: 400;
line-height: 1.3;
letter-spacing: 0.22px;
margin: 13.2px 142px 42px 0px;
}
.recommendation-text{
    color:var(--text);
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
margin-right: 60px;
}
.recommendation-case{
    display: flex;
    margin-top: 29.8px;
    width: 532px;
    margin-bottom: 10.2px;
}
.case-img{
border-radius: 100px;
background-color:var(--background);
padding: 29px 29px 30px 30px;
margin: 10.2px 20px 39.8px 0px;
}
.recommendation-world{
    color:var(--text);
font-size: 24px;
font-weight: 400;
line-height: 1.5
letter-spacing: 0.22px;
margin: 10.2px 264.69px 0px 0px;
}
.recommendation-button{
    color:var(--main);
font-size: 18px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.72px;
    padding: 21px 67px 23px 34px;
    border-radius: 18px;
border: 2px solid var(--title);
background:var(--title);
}
.recommendation-img{
    width: 592px;
height: 635px;
flex-shrink: 0;
}
.main-review{
    margin-top: 139.39px;
    margin-bottom: 140.61px;
}
.review-box{
    border-radius: 70px;
background:var(--background);
height: 675px;
}
.reviews-box{
    display: flex;
padding-right: 49.125px;
margin: 49.61px 30px 0px 35px;
}
.rev-box{
    display: flex;
width: 162.875px;
padding-left: 20px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.reviews-img{
    width: 77px;
height: 77px;
}
.review-title{
    color:var(--title);
text-align: center;
font-family: "DM Serif Display";
font-size: 45px;
font-weight: 400;
line-height: 1.3;
letter-spacing: 0.22px;
}
.review-subject{
    padding-top: 103px;
}
.review-heading{
    padding-bottom: 47px;
}
.reviews-list{
display: flex;
gap: 18px;
}
.reviews-item{
border-radius: 30px;
background:var(--main);
}
.reviews-title{
    color:var(--title);
font-family: "DM Serif Display";
font-size: 25px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}
.reviews-subtitle{
    color:var(--text);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}
.reviews-text{
    color:var(--text);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin: 32px 75px 45px 35px;
}
.main-brands{
    margin-bottom: 100px;
}
.brands-list{
    display: flex;
}
.brands-home{
    margin: 30.39px 125px 29.61px 48px ;
}
.brands-interior{
    margin: 0.39px 110px 0.39px 0px ;
}
.brands-brand{
    margin: 30.39px 89px 29.61px 0px;
}
.brands-nature{
    margin: 29.39px 112px 28.61px 0px ;
}
.brands-classic{
    margin: 27.39px 55px 27.61px ;
}
.main-projects{
    margin-bottom: 80px;
}
.project-box{
    margin-top: 15px;
    margin-bottom: 70px;
}
.project-title{
    margin-bottom: 20px;
    color:var(--title);
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 47px;
    font-weight: 400;
    line-height: 1.32765957447;
    letter-spacing: 0.22px;
}
.proj-title{
    font-size: 24px;
    line-height: 1.5625;
}
.project-text{
    color:var(--text);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
}
.projects-img{
    width: 100%;
}
.projects-list{
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
gap: 20px;
}
.projects-box{
    display: flex;
height: 95px;
padding-top: 25px;
justify-content: center;
align-items: flex-start;
gap: 221.5px;
flex-shrink: 0;
}
.proj-box{
    width: 298.5px;
height: 70px;
}
.proj-boxfour{
    display: flex;
width: 324.953px;
height: 70px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
}
.projects-boxfour{
    display: flex;
height: 95px;
padding-top: 24.984px;
justify-content: center;
align-items: flex-start;
gap: 195.047px;
flex-shrink: 0;
}
.projects-item{
    flex-basis: calc((100% - 20px) / 2);
    display: flex;
width: 590px;
height: 756.203px;
padding-top: 0.391px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: -0.187px;
flex-shrink: 0;
}
.projects-title{
    color:var(--title);
font-family: "DM Serif Display";
font-size: 24px;
font-weight: 400;
line-height: 1.5625;
letter-spacing: 0.22px;
}
.projects-text{
    color:var(--text);
font-size: 22px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.22px;
}
.projects-button{
    width: 70px;
height: 70px;
flex-shrink: 0;
border-radius: 100px;
background:var(--background);
border: none;
}
.{
    
}
.{
    
}
.{
    
}
