
.main-consultation {
    padding-top: 100.2px;
    padding-bottom: 79.8px;
  }
  .consultation-box {
    border-radius: 70px;
    background: $title;
    padding-top: 100px;
    padding-bottom: 95px;
    text-align: center;
  }
  .consultation-title {
    color: $main;
    text-align: center;
    font-family: "DM Serif Display";
    font-size: 50px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin-bottom: 9px;
  }
  .consultation-text {
    color: $main;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    margin-bottom: 31px;
  }
  .consultation-button {
    color: $main;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.22px;
    padding: 21px 67px 23px 34px;
    border-radius: 18px;
    border: none;
    background-color: $rare;
  }